<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/solutions.js"></script>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="row logo">
      <a href="/"><img src="img/logo.png" alt="name" title="ken ngo"></a>
    </div>
    <div class="row">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div id="table-nav-tabs">
            <ul class="nav navbar-nav nav-tabs">
              <li class={{class1}}><a href="/">home</a></li>
              <li class={{class2}}><a href="/about">about me</a></li>
              <li class={{class3}}><a href="/solutions">solutions</a></li>
              <li class={{class4}}><a href="/contact">contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    {{{body}}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>